
.hero-container {
  position: relative;
  min-height: 65vh;
  display: flex;
  overflow: hidden;
}

.hero-background {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

  .hero-title {
    font-size: 3rem;
  }

  .hero-subtitles {
    font-size: 7rem;
    color: #6149B7 !important;
  }

  @media (max-width: 475px) {
    .hero-title {
      font-size: 1.5rem !important;
    }
  
    .hero-subtitle {
      font-size: 4.5rem !important;
    }
  }