.tuisty-container {
    background-color: #6149B7;
  }

  .card-efect {
    overflow: hidden;
  }

  .card-efect:hover .card {
    -webkit-transform:scale(-1);transform:scale(0.95);
  }

  .bg-main-card-header {
    background-color: #443285;
  }

  .internet-title,
  .plan-title-main {
    color: #FFFFFF;
  }

  .border-tuisty {
    border-color: #6149B7 !important;
  }

  .border-tuisty-in {
    border-color: #FF8500 !important;
  }

  .tuisty-gb-main {
    color: #29B8C9;
  }

  .bg-gb-main{
    background-color: #3B0F82;
  }
  .bg-main-gb {
    background-color: #6149B7;
  }

  .bg-price {
    background-color: #29B8C9;
  }

  .bg-body-card,
  .accordion-button {
    background-color: #FF8500;
    box-shadow: none !important;
  }

  .social-icon-facebook {
    color: #4267B2;
  }
  
  .social-icon-twitter {
    color: #000000; 
  }
  
  .social-icon-whatsapp {
    color: #25D366; 
  }
  
  .social-icon-instagram {
    color: #E1306C; 
  }
  
  .social-icon-snapchat {
    color: #CCCA00;
  }
  
  .social-icon-messenger {
    color: #00B2FF;
  }

  .social-icon-telegram {
    color: #0088CC; 
  }

  .plan-button {
    margin-top: 20px;
    font-weight: bold;
    background-color: #6149B7 !important;
  }

  .plan-button:hover {
    background-color: #FFFFFF !important;
    color: #6149B7 !important;
    border-color: #6149B7 !important;
  }

  .paq-button {
    background-color: transparent !important;
    border-color: #FFFFFF !important;
  }

  .paq-button:hover {
    background-color: #FFFFFF !important;
    color: #6149B7 !important;
    border-color: #FF8500 !important;
  }

  .link-ift {
    color: #29B8C9;
  }

  .link-ift:hover,
  .link-btn:hover {
    color: #FF8500 !important;
  }

  .pricing-badge {
    position: absolute;
    top: 0;
    z-index: 999;
    right: 0;
    width: 100%;
    display: block;
    font-size: 15px;
    padding: 0;
    overflow: hidden;
    height: 100px;
  }
  
  .pricing-badge .badge {
    float: right;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    right: -67px;
    top: 17px;
    position: relative;
    text-align: center;
    width: 200px;
    font-size: 13px;
    margin: 0;
    padding: 7px 10px;
    font-weight: 500;
    color: #ffffff;
    background: #29B8C9;
  }

  .bg-body-card,
  .accordion-main .accordion-button {
    background-color: #FF8500 !important;
    box-shadow: none !important;
  }